body,
html {
    height: 100%;
}

nav .nav-link {
    font-size: 14px;
}

nav .nav-link {
    display: block;
    padding: 15px;
    text-decoration: none;
    color: #aaa;
    font-weight: 800;
    text-transform: uppercase;
    margin: 0 10px;
}

nav .nav-link,
nav .nav-link:after,
nav .nav-link:before {
    transition: all .5s;
}

nav .nav-link:hover {
    color: #000;
}

nav .nav-link {
    position: relative;
    z-index: 1;
    padding-right: 15px !important;
    padding-left: 15px !important;
}

nav .nav-link:hover {
    color: #000 !important;
}

nav .nav-link:after {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    width: 100%;
    height: 1px;
    content: '.';
    color: transparent;
    background: #fff;
    visibility: none;
    opacity: 0;
    z-index: -1;
}

nav .nav-link:hover:after {
    opacity: 1;
    visibility: visible;
    height: 100%;
}

.background {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.background video {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.section-about {
    /* background-image: url('../assets/images/bg.jpg');
    background-size: cover;
    background-attachment: fixed; */
    min-height: 100%;
    /* background-position: center; */
}

.section-about .main-name {
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.section-about .main-name h1 {
    color: #fff;
    display: block;
    font-size: 65px;
}

.section-about .main-name h3 {
    display: block;
    color: #fff;
    margin-top: 30px;
}

.section-about .main-name h3 span {
    font-weight: bold;
}

.section-desc {
    margin-top: 100px;
    margin-bottom: 200px;
}

.section-desc .row {
    width: 100%;
    margin: 0;
}

.section-desc .row img {
    max-width: 90%;
    display: block;
    margin: auto;
}

.section-desc .row .col-text {
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    text-align: left;
}

.section-profile {
    text-align: center;
    color: #fff;
    padding-bottom: 150px;
}

.section-profile h2 {
    margin-bottom: 70px;
}

.section-profile .photo {
    background-color: #aaa;
    border-radius: 50%;
    height: 200px;
    width: 200px;
}

.section-profile .name {
    margin-top: 20px;
    font-size: 24px;
}

.section-profile .social-medias {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.section-profile .social-medias a {
    font-size: 30px;
    color: #000;
}

.section-profile .social-medias a.social-link {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    margin: 0 30px;
}

.section-profile .social-medias a.linkedin:hover {
    color: #0E76A8;
}

.section-profile .social-medias a.github:hover {
    color: #171515;
}

.section-profile .social-medias a.twitter:hover {
    color: #00acee;
}

@media (orientation: portrait) {
    .main-name h1 {
        font-size: 35px !important;
        text-align: center;
    }
    .section-profile .col-media {
        margin-bottom: 50px;
    }
    .section-desc .row-desc {
        flex-direction: column-reverse;
    }
    .section-desc .row-desc .col-text {
        margin-top: 60px;
    }
    .section-desc .row-desc .col-image {
        padding: 0;
    }
    .section-desc .row-desc .col-image img {
        max-width: 100%;
    }
}