@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;500;700&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: "Roboto Mono";
}

@media (min-width: 1400px) {
    .container.medium {
        max-width: 1450px !important;
    }
}

body,
html {
    min-height: calc( 100% - 75px);
}

nav .nav-link {
    font-size: 14px;
}

nav .nav-link {
    display: block;
    padding: 15px;
    text-decoration: none;
    color: #aaa;
    font-weight: 800;
    text-transform: uppercase;
    margin: 0 10px;
}

nav .nav-link,
nav .nav-link:after,
nav .nav-link:before {
    transition: all .5s;
}

nav .nav-link:hover {
    color: #000;
}

nav .nav-link {
    position: relative;
    z-index: 1;
    padding-right: 15px !important;
    padding-left: 15px !important;
}

nav .nav-link:hover {
    color: #000 !important;
}

nav .nav-link:after {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    width: 100%;
    height: 1px;
    content: '.';
    color: transparent;
    background: #fff;
    visibility: none;
    opacity: 0;
    z-index: -1;
}

nav .nav-link:hover:after {
    opacity: 1;
    visibility: visible;
    height: 100%;
}

.background {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.background video {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

@media screen and (max-width:991px) {
    .navbar-nav .nav-link {
        margin-left: 0 !important;
        padding-left: 0 !important;
    }
}