.social-medias {
    display: flex;
    flex-direction: row;
   
    align-items: center;
}

.social-medias a {
    font-size: 30px;
    color: #000;
}

.social-medias a.social-link {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    margin: 0 30px;
}

 .social-medias a.linkedin:hover {
  background-color: #0E76A8;
}

 .social-medias a.github:hover {
    background-color: #0E76A8;

}

 .social-medias a.twitter:hover {
    background-color: #0E76A8;

}
.card-header{
    background-color: transparent!important;

}
.card-header button{
    
color: white;
text-decoration: none;
}
.card-header button:hover{
    font-weight: bold;
    font-size: 25px;
color: white;
text-decoration: none;
}
.card{
    border: none;
  
    background-color: transparent!important;
}
.card-body{
    background-color: transparent!important;
}
.container_prj{
    margin-top: 5%;
  margin-left: 15%;
  margin-right: 15%;
}
.title{
    margin-top: 10%;
    margin-left: 15%;
    color: white;
    font-weight: bold;
}