html,
body {
    height: 100%;
}

body {
    height: calc(100% - 75px - 152px);
}

.section-projects {
    margin-top: 70px;
    min-height: calc(100% - 75px - 152px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-projects .container.medium {
    max-width: 1000px !important;
}

.section-projects .swiper-slide .prj-bg {
    background-color: #757575;
}

.project {
    width: 100%;
}