html,
body {
    height: 100%;
}

body {
    height: calc(100% - 75px);
}

.section-projects {
    margin-top: 70px;
    min-height: calc(100% - 75px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-projects .swiper-slide .prj-bg {
    height: 500px;
    background-color: #757575;
}